## .NET Core
*.swp
*.*~
project.lock.json
.project
.classpath
/obj/
/bin/
**/bin/
**/obj/
**/BuildHost-*/

## Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

## Rider
.idea/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleasePublic/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

## Visual Studio 2015/2017 cache/options directory
.vs/

## Environment files
.env
.env.local
.env.*.local

## Certificates (staging/production)
certs/
